@import "tailwindcss";

@theme inline {
  --font-sans: 'Satoshi', sans-serif;
  --font-heading: 'Satoshi', sans-serif;
  
  --color-background: #0D0D0D;
  --color-foreground: #FFFFFF;
  --color-secondary: #9CA7B0;
  --color-accent: #4DA2E3;
  --color-surface: #52585D;
  --color-border-custom: #7A8085;
}

:root {
  --background: #0D0D0D;
  --foreground: #FFFFFF;
}

body {
  @apply bg-background text-foreground;
}


@keyframes accordion-down {
  from { height: 0; }
  to { height: var(--radix-accordion-content-height); }
}

@keyframes accordion-up {
  from { height: var(--radix-accordion-content-height); }
  to { height: 0; }
}

.animate-accordion-down {
  animation: accordion-down 0.2s ease-out;
}

.animate-accordion-up {
  animation: accordion-up 0.2s ease-out;
}
